<aside class="sidebar">
  <div class="sidebar-header">
    <div class="logo">
      <lucide-icon name="graduation-cap" class="logo-icon"></lucide-icon>
      <span>DAWEB IES</span>
    </div>
  </div>

  <nav class="sidebar-nav">
    <ul>
      <li>
        <a routerLink="/alumnos" routerLinkActive="active" class="nav-link">
          <lucide-icon name="users" class="nav-icon"></lucide-icon>
          <span>Alumnos</span>
        </a>
      </li>
      <li>
        <a routerLink="/profesores" routerLinkActive="active" class="nav-link">
          <lucide-icon name="graduation-cap" class="nav-icon"></lucide-icon>
          <span>Profesores</span>
        </a>
      </li>
      <li>
        <a routerLink="/asignaturas" routerLinkActive="active" class="nav-link">
          <lucide-icon name="book-open" class="nav-icon"></lucide-icon>
          <span>Asignaturas</span>
        </a>
      </li>
      <li>
        <a routerLink="/matriculas" routerLinkActive="active" class="nav-link">
          <lucide-icon name="clipboard-list" class="nav-icon"></lucide-icon>
          <span>Matrículas</span>
        </a>
      </li>
      <li>
        <a routerLink="/aprobados" routerLinkActive="active" class="nav-link">
          <lucide-icon name="clipboard-list" class="nav-icon"></lucide-icon>
          <span>Aprobados</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
